<% if @entry.errors.any? %>
  <div id="error_explanation">
    <h5><%= pluralize(@entry.errors.count, "error") %> prohibited this entry from being saved:</h5>
  </div>
<% end %>
<%= simple_form_for @entry, :html => { :multipart => :true } do |f| %>
  <%= select_tag(:category_id, options_for_select(@categories), :prompt => 'Feeling?') %>
  <%= f.file_field :entry_img %>
  <%= f.input :date, label: 'Date' %>
  <%= f.input :foods, label: 'What did you eat today?' %>
  <%= f.input :notes, label: 'Additional Notes' %>
  <%= f.button :submit, class: "btn btn-custom" %>
<% end %>
