<!DOCTYPE html>
<html>
  <head>
    <title>TamatoeApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


  <nav class="navbar navbar-default">

    <div class="container">

      <div class="navbar-header">
        <%= link_to 'tamatoe', root_path, class:'navbar-brand' %>
      </div>

      <ul class="nav navbar-nav">
        <li><%= link_to 'Signup', new_user_path %></li>
        <% if current_user %>
          <li><%= link_to 'Logout', logout_path, method: :delete %></li>
        <% else %>
          <li><%=link_to 'Login', login_path %></li>
        <% end %>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
             aria-expanded="false">Feeling? <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <% Category.all.each do |category| %>
              <li class="<%='active' if params[:category] == category.feeling %>">
                <%= link_to category.feeling, entries_path(category: category.feeling), class: 'link'%>
              </li>
            <%end%>

          </ul>
        </li>


        <% if current_user %>
          <li><%= link_to 'New Entry', new_entry_path %></li>
        <% end %>
      </ul>
    </div>
  </nav>




  <% flash.each do |flash_type, flash_message| %>
    <div class='flash' id='<%= flash_type %> '>
      <%= flash_message %>
    </div>
  <% end %>
  <div class="container">
    <%=yield%>
  </div>
  </body>
</html>
